*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(10,10,10);
    color: rgb(240,240,240);
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    /* background-color: burlywood; */
    width: 95%;
    max-width: 788px;
    display: flex;
    justify-content: flex-end;
    padding: 12px;
    margin-top: 15px;
}

.share_button {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: rgb(240,240,240);
    display: flex;
    justify-content: center;
    align-items: center;
}

.share_button svg {
    width: 1rem;
    height: 1rem;
    color: rgb(0,0,0);
}

.container {
    /* background-color: cadetblue; */
    width: 91%;
    max-width: 680px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image_container {
    width: 96px;
    height: 96px;
    /* height: auto; */
    border-radius: 48px;
    overflow: hidden;
}

img {
    width: 100%;
    height: 100%;
}

h1 {
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

a {
    text-decoration: none;
    color: rgb(240,240,240);
}

.tile {
    width: 100%;
    height: 56px;
    background-color: rgb(37,37,37);
    margin: 7px;
    border-radius: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tile:hover {
    transition: cubic-bezier(.07, 1.41, .82, 1.41) 0.2s;
    transform: scale(1.02);
}

.icon {
    width: 2.5rem;
    height: 2.5rem;
    margin: 4px 8px;
    fill: rgb(240,240,240);
    /* stroke: rgb(10,10,10); */
}

.tile_share_button {
    margin: 4px 8px;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: rgb(52, 52, 52);
    display: flex;
    justify-content: center;
    align-items: center;
}
.svg {
    width:rem;
    height:rem;
    fill: rgb(240,240,240);
}

.footer {
    margin-bottom: 0;
    bottom: 0;
    position: absolute;
    height: 3.5rem;
    width: 100%;
    background-color: red;
    text-align: center;
    align-content: center;
    display: inline-grid;
}

/*MEDIA QUERIES*/

